<form action="/message/show" method="post">
    <label for="name">Enter first name:</label>
    <input type="text" id="name" name="name" placeholder="First name">
    <label for="surname">Enter surname:</label>
    <input type="text" id="surname" name="surname" placeholder="Surname">
    <button>Submit</button>
</form>
